<%= render "components/show_navbar" %>

<div class="container mt-5" >
<div class="show-header-text">
  <div>
    <% if @list.photo.attached? %>
      <%= cl_image_path(@list.photo.key) %>
    <% else %>
      <%= cl_image_tag('samples/animals/kitten-playing.gif', class: "avatar")%>
    <% end %>
  </div>
  <%= @list.name %>
</div>
<% @list.bookmarks.each do |bookmark| %>
<div class="card-product">
  <%= image_tag(bookmark.movie.poster_url) %>
  <div class="card-product-infos">
    <h2><%= bookmark.movie.title %></h2>
      <% bookmark.movie.rating.times do %>
      <i class="fas fa-star" style="color: #FFFD82; text-shadow: 0 0 3px black"></i>
      <% end %>
    <p><%= bookmark.movie.overview %></p>
    <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you would like to delete #{bookmark.movie.title}?"} do%>
      <span class="delete-icon" style="color: gray;"><i class="fas fa-trash-alt fa-2x"></i><br>Delete</span>
    <% end %>
  </div>
</div>
<% end %>
</div>

  <%# <div class="card-product front-cover">
      <%= image_tag(bookmark.movie.poster_url) %>
<%# </div> %>
