 <%= render "components/index_navbar" %>
<div class="background-style">
  <div class="create-container">
    <div class="row justify-content-center">
      <div class="col-8 text-align align-items-center">
        <h1 style="text-align: center; text-decoration: underline;">Add a Movie</h1>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.input :comment %>
          <%= f.association :movie, include_blank: false, input_html: { class: 'select2' } %>
          <%= f.submit "Create Bookmark", class: 'btn btn-secondary mt-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
